extends ../layouts/home

block content
  .container.signin__box
    h1 Welcome to the game.  Please login.
  
    .row
      .col-md-4.col-offset-4.col-sm-6.col-sm-offset-3
        .well
          form.form(action='/sign_in', method='post')
            .form-group
              label.control-label Email
              input.form-control(type='email', name='email')
            .form-group
              label.control-label Password
              input.form-control(type='password', name='password')
            .form-group
              button.btn.btn-primary(type='submit') Continue Forth

    .row
      .col-sm-4.col-sm-offset-4
        .thumbnail
          img(src='/images/orc.png')
          .caption
            p We have missed you!!!!