extends ../layouts/home

block content
  .container
    h1 Join the Grand Ultima Tradition

    .row
      .col-sm-6
        .well
          form.form-horizontal(action='/sign_up', method='post')
            .form-group
              label.control-label.col-sm-3 Email
              .col-sm-9
                input.form-control(type='email', name='email')
            .form-group
              label.control-label.col-sm-3 Password
              .col-sm-9
                input.form-control(type='password', name='password')
            .form-group
              .col-sm-offset-3
                button.btn.btn-primary(type='submit') Start the Adventure

      .col-sm-6
        .panel.panel-default
          .panel-heading.lead-copy Glory
          .panel-body.lead-copy The City is in danger, the prophecy is told and thus you are
        .panel.panel-default
          .panel-heading.lead-copy Battle
          .panel-body: img(src='/images/orc.png')