extends ../layouts/home

block content

  .container
    h1 About This Grand Ultima

    p.pull-right
      img(src='/images/jotun.png')

    p This is it

    h2 Yup

    p more

    p.pull-left
      img(src="/images/lindworm_snake_jonadab_t_01.png")