extends ../layouts/home

block content
  h1 Welcome to the game.

  h2 Message from bad guys
    :markdown
      This is **markdown**
  p
    img(src="images/sword_and_shield.png")
  a(href="/adventures") Click me to begin!
