extends ../layouts/home

block content
  h1 Welcome to the game.

  .system_message
    h2 Message from bad guys
      :markdown
        ######Stuff
        This is **markdown**, *here* go fight
        = beasts[0].name
  p Hello!
    img(src="images/sword_and_shield.png")
  a(href="/adventures") Click me to begin!
