extends ../layouts/home

block content
  h1 This may work after all
  form(action="/app/adventures/42" method="POST")
    input(type="hidden" name="_method" value="put")
    button(type="submit") Cheat
  form(action="/app/adventures" method="POST")
    button(type="submit") Try Again
  p You have found some 
    a(href="/loot/1") Loot!