extends ../../layouts/app

block content
  h1 This is the dashboard
  p It is mostly unfunctional at the moment
  p This may or may not have any thing to dow ith bugs and fdsakldf
  p
    img(src='/images/misfits.jpg')