doctype html
html
  head
    title= title
    link(type="text/css", rel="stylesheet", href="/stylesheets/application.css")
  body
    include navBar
    .container
      include flash
      block content

    block extraJs
      script(src="//code.jquery.com/jquery-1.11.3.min.js")
      script(src="/js/bootstrap.min.js")